*{
    margin: 0px;
   
}

header,main{
margin: 31px 160px;

}


/* SHARED BUTTON */

/* .common-btn{
 border-radius: 8px;
} */
.banner-container{
    display: flex;
    gap: 64px;
    justify-content: space-around;
    align-items: center;
    background-color: #C6E4D6;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.banner-title{
    color: #0E0E0E;
    opacity: 50%;
    font-size: 24px;
    font-weight: 400;
   
}
.banner-description{
    font-size: 56px;
    color: #0E0E0E;
  
}
.banner-btn{
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    transition-duration: 400ms;
    cursor: pointer;
}
.banner-btn:hover{
    transform: scale(0.9);
}
.banner-container{
    padding: 80px 60px;
    border-radius: 24px;
}
.vision-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 80px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
}
.vision-description{
    opacity: 70%;
    color: #0E0E0E;
}
.vision-box{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
.box1{
    padding: 30px;
    background-color: #e8f0ff;
    border-radius: 16px;
}
.box2{
    padding: 30px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.box3{
    padding: 30px;
    background-color: #F7EBCF;
    border-radius: 16px;
}
.vision-box-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 24px;
}
.vision-box-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 12px;
}
.vision-common-box-btn{
    padding: 11px 20px;
    margin-top: 35px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 400ms;
    
}
.vision-common-box-btn:hover{
    transform: scale(0.9);
    color: black;
}
.vision-box1-btn{
    background-color: #5490F5;
}
.vision-box2-btn{
    background-color: #09A15C;
}
.vision-box3-btn{
    background-color: #FFC239;
}
.recent-news-container{
    margin-top: 80px;
    
}

.recent-news-card-img{
    border-radius: 24px;
 
}
.recent-news-card{
   
    border-radius: 24px;
    border: 1px solid rgb(236, 236, 236);
    /* box-shadow: 3px 3px 3px 3px rgb(249, 249, 249); */
    padding: 48px;
    margin-top: 32px;
    display: flex;
    gap: 32px;
}
.recent-news-title{
    font-size: 40px;
    font-weight: bold;
}
.recent-news-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 24px;
}
.recent-news-card-title{
    font-size: 32px;
    font-weight: bold;
}
.recent-news-card-al-jazeera-img{
    margin-top: 12px;
}
.recent-news-card-date-time{
    margin-top: 12px;
    opacity: 70%;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    gap: 12px;
}
.recent-news-card-description{
    margin-top: 12px;
    opacity: 70%;
    font-weight: 400;
    font-size: 16px;
}
.recent-news-card-btn{
    margin-top: 32px;
    padding: 13px 26px ;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 400ms;
}
.recent-news-card-btn:hover{
    transform: scale(0.9);
    background-color: #043528;
}
.donate-container{
    margin-top: 80px;
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.donate-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 24px;
    text-align: center;
}
.donate-card{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.common-donate-card-price{
    padding: 40px;
    background-color: #ededed;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}
.common-donate-card-price:hover {
    background-color: #d0e1e1;
  }
  .donate-card-price-2{
    background-color: #C6E4D6;
  }
/* .donate-card-price-1::hover{
    background-color: #d79595;
}
.donate-card-price-2{
    background-color: #d7d4d4;
} */
.donate-input{
   margin-top: 32px;
   width: 100%;
   border: none;
   background-color: #f6f6f6;
   padding: 20px ;
   
}
.donate-input::placeholder {
    opacity: 30%;
    text-align: center;
  }
  .donate-btn-design{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.donate-btn{
    margin-top: 32px;
    font-size: 18px;
    font-weight: 600;
   padding: 17px 34px;
   border-radius: 8px;
   border: none;
   background-color: #006A50;
   color: #FFFFFF;
   cursor: pointer;
   transition-duration: 400ms;
}
.donate-btn:hover{
    transform: scale(0.9);
    background-color: #043528;
}

